[Unit]
Description=Schedule iSpindel device polling

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=ispindel-poll.service

[Install]
WantedBy=timers.target
